$primaryColor: #e41e26;
$secondaryColor: #949293;
$white: #ffffff;
$black: #000000;

$grey15: #f0f0f0;
$grey14: #e0e0e0;
$grey13: #d0d0d0;
$grey12: #c0c0c0;
$grey11: #b0b0b0;
$grey10: #a0a0a0;
$grey09: #909090;
$grey08: #808080;
$grey07: #707070;
$grey06: #606060;
$grey05: #505050;
$grey04: #404040;
$grey03: #303030;
$grey02: #202020;
$grey01: #101010;
